# these files are generated automatically when tcljava is built
native

tcljava/jdk.cfg
tcljava/Makefile
tcljava/Test.h
tcljava/Test.tcl
tcljava/config.status
tcljava/jaclsh
tcljava/jtclsh
tcljava/pkgIndex.tcl
tcljava/tcljavaConfig.sh
tcljava/btjc/
tcljava/itcl/
tcljava/jacl/
tcljava/tcljava/

tcljava/src/native/javaNative.h
tcljava/src/native/tcl_lang_CObject.h
tcljava/src/native/tcl_lang_IdleHandler.h
tcljava/src/native/tcl_lang_Interp.h
tcljava/src/native/tcl_lang_Notifier.h
tcljava/src/native/tcl_lang_TclList.h
tcljava/src/native/tcl_lang_TimerHandler.h
tcljava/src/native/tcl_lang_Util.h

autom4te.cache/
config.log
build
build.cfg
local

# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.dylib
*.exe
*.class
*.jar
*.Z
*.elc
*.ln
core
# CVS default ignores end
