# you can keep this line commented if your environment exports JAVA_HOME
#JAVA_HOME=/path/to/your/JDK

UNTAR=tar xf
UNZIP=unzip

# The installation PREFIX (by default the local directory under the current directory)
# It can be changed to /usr/local for a system-wide installation, if you don't mind overwriting a previous tcl installation
# You can also set it to /usr/local/mytclversion if you want to be safe.
#
# IMPORTANT: do not replace $(shell pwd) by $(PWD) (in an attempt of simplification), it will not work properly with sudo
# see: https://jerome-wang.github.io/2015/08/13/pwd-in-sudo-make/ for a discussion on this issue
PREFIX=$(shell pwd)/local

BUILD_DIR=$(shell pwd)/build
PACKAGES_DIR=$(shell pwd)/packages

# comment the following line out in order to disable multithreading support
THREADS_FLAGS=--enable-threads

# uncomment these lines in order to add the configuration flags you need (see configure --help in tcl and tk projects) for your build;
# flags given here are just examples;
#MORE_TCL_FLAGS=--enable-64bit --enable-symbols

# for X11
# comment this line for adding X11 support
#X11_FLAGS=--with-x --x-includes=$(X11_PREFIX)/include --x-libraries=$(X11_PREFIX)/lib

# required for tclreadline
#READLINE_FLAGS=--with-readline-includes=/usr/local/Cellar/readline/8.1.1/include/

#For MacOSX systems only
#MORE_TK_FLAGS=--enable-aqua=yes --enable-framework
